 <div class="myresources-container">
   <h1><span style="color:#409155"><i class="fas fa-heart"></i></span> Favorite Resources</h1>
      

  <div class="my-resource-box">
        <% @entries.each do |entry| %>
        <div class="resource-box single-box">
              <ul>
                <li class="name"><h3><%= link_to entry.title, entry %></h3></li>
               <% if entry.attachment? %>
                <li>
                  <i class="material-icons">attach_file</i>
                   <%= link_to entry.attachment.file.filename, entry.attachment_url if entry.attachment? %> <br>

                   <% if entry.url_link? %>
                   <a target = "blank" href="<%= entry.url_link %>"><%= entry.url_link %></a>
                  <% end %> <!--/entry attachment exists? -->
                   <% end %>
                </li>
              </ul>
            <div class="bottom">
               <div class="likes">
       <%= link_to like_entry_path(entry), method: :put do %>
                <i class="fas fa-thumbs-up"></i>
                <%= entry.get_upvotes.size %>
              <% end %>
              &nbsp; 
              &nbsp;

              <%= link_to dislike_entry_path(entry), method: :put do %>
                <i class="fas fa-thumbs-down"></i>

                <%= entry.get_downvotes.size %>
              <% end %>
        </div>
              <ul class="bottom-links">
               
              <li><%= link_to 'View Resource', entry %></td> <% if current_user.try(:admin) or current_user == entry.user %> | </li>
          
            <li><%= link_to 'Edit', edit_entry_path(entry) %> | </li> 
            <li><%= link_to 'Delete', entry, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
          <% end %>
              <p class="contributor">Contributed by: <%= entry.user.email %></p>
        </div><!--/bottom-->
          </div><!--/resource-box-->
        <% end %>
      </div><!--/my-resource-box-->
      </div><!--/container-->
