<div class="portal">
	<div class="top-portal-section">
			<div class="course">
				<h1>Explore By Course</h1>
				<div class="bottom-border"></div>
				<div class="course-flex">
				<%= link_to '/entries?by_courses[]=1&commit=Submit' do %>
					<div class="course-box">
						<h3>TECM 2700</h3> Technical Writing
					</div>
				<% end %>
				<%= link_to '/entries?by_courses[]=2&commit=Submit' do %>
					<div class="course-box">
						<h3>TECM 2800</h3> The Profession of Technical Communication
					</div>
				<% end %>
				<%= link_to '/entries?by_courses[]=3&commit=Submit' do %>
					<div class="course-box">
						<h3>TECM 3100</h3> Visual Technical Communication
					</div>
				<% end %>
				<%= link_to '/entries?by_courses[]=4&commit=Submit' do %>
					<div class="course-box">
						<h3>TECM 3200</h3> Information Design for Electronic Media
					</div>
				<% end %>
				<%= link_to '/entries?by_courses[]=5&commit=Submit' do %>
					<div class="course-box">
						<h3>TECM 3500</h3> Digital Media for Professional Communication
					</div>
				<% end %>
				<%= link_to '/entries?by_courses[]=6&commit=Submit' do %>
					<div class="course-box">
						<h3>TECM 3550</h3> Content Strategy in Technical Communication
					</div>
				<% end %>
				<%= link_to '/entries?by_courses[]=7&commit=Submit' do %>
					<div class="course-box">
						<h3>TECM 4100</h3> Writing Proposals
					</div>
				<% end %>
				<%= link_to '/entries?by_courses[]=8&commit=Submit' do %>
					<div class="course-box">
						<h3>TECM 4180</h3> Advanced Technical Communication
					</div>
				<% end %>
				<%= link_to '/entries?by_courses[]=9&commit=Submit' do %>
					<div class="course-box">
						<h3>TECM 4190</h3> Technical Editing
					</div>
				<% end %>
					<%= link_to '/entries?by_courses[]=10&commit=Submit' do %>
					<div class="course-box">
						<h3>TECM 4250</h3> Writing Technical Manuals & Procedures
					</div>
				<% end %>
				<%= link_to '/entries?by_courses[]=11&commit=Submit' do %>
					<div class="course-box">
						<h3>TECM 4300</h3> Usability & User Experience
					</div>
				<% end %>
				<%= link_to '/entries?by_courses[]=12&commit=Submit' do %>
					<div class="course-box">
						<h3>TECM 4400</h3> Advanced Information Design
					</div>
				<% end %>
				<%= link_to '/entries?by_courses[]=13&commit=Submit' do %>
					<div class="course-box">
						<h3>TECM 4500</h3> Content Analysis
					</div>
				<% end %>
			
			
				
				<%= link_to '/entries?by_courses[]=14&commit=Submit' do %>
					<div class="course-box">
						<h3>TECM 4700</h3> Science Writing
					</div>
				<% end %>




				</div><!--/course-flex-->
		</div><!--/course-->
		</div><!--/top-portal-section-->

<div class="top-portal-section topic">
			<div class="course">
				<h1>Popular Topics</h1>
				<div class="bottom-border"></div>
				<div class="course-flex">
				<%= link_to '/entries?by_topics[]=9&commit=Submit' do %>
					<div class="course-box">
						<h3>Audience Analysis</h3>
					</div>
				<% end %>
				<%= link_to '/entries?by_topics[]=14&commit=Submit' do %>
					<div class="course-box">
						<h3>Data Viz</h3>
					</div>
				<% end %>
				<%= link_to '/entries?by_topics[]=6&commit=Submit' do %>
					<div class="course-box">
						<h3>Design</h3>
					</div>
				<% end %>
				<%= link_to '/entries?by_topics[]=2&commit=Submit' do %>
					<div class="course-box">
						<h3>Editing</h3>
					</div>
				<% end %>
				<%= link_to '/entries?by_topics[]=1&commit=Submit' do %>
					<div class="course-box">
						<h3>Manuals/Procedure</h3>
					</div>
				<% end %>
				<%= link_to '/entries?by_topics[]=8&commit=Submit' do %>
					<div class="course-box">
						<h3>Research</h3>
					</div>
				<% end %>
				<%= link_to '/entries?by_topics[]=13&commit=Submit' do %>
					<div class="course-box">
						<h3>Software</h3>
					</div>
				<% end %>
				<%= link_to '/entries?by_topics[]=3&commit=Submit' do %>
					<div class="course-box">
						<h3>Teamwork</h3>
					</div>
				<% end %>
				<%= link_to '/entries?by_topics[]=12&commit=Submit' do %>
					<div class="course-box">
						<h3>TC Profession</h3>
					</div>
				<% end %>
					<%= link_to '/entries?by_topics[]=5&commit=Submit' do %>
					<div class="course-box">
						<h3>Usability/UX</h3>
					</div>
				<% end %>
				<%= link_to '/entries?by_topics[]=7&commit=Submit' do %>
					<div class="course-box">
						<h3>Web Design</h3>
					</div>
				<% end %>
				
				</div><!--/course-flex-->
		</div><!--/course-->
		</div><!--/top-portal-section-->

</div><!--/portal-->