
      <div class="list">

        <% @entries.each do |entry| %>
        <div class="resource-box">
              <ul>
                <li class="name"><h3><%= link_to entry.title, entry %></h3></li>
                <li class="topic">
                  Topic: <%= entry.topic && entry.topic.name %>
                </li>
                 <li>
                  Resource Type: <%= link_to Category.find(entry.category_id).name, category_path(entry.category_id) %> 
                </li>
                 <li class="level">
                  Course type: <%= entry.level %>
                </li>
                <br>
                <li>
                  <i class="material-icons">attach_file</i>
                   <%= link_to entry.attachment.file.filename, entry.attachment_url if entry.attachment? %>
                </li>
              </ul>
              <td><%= link_to 'Show', entry %></td> | 
            <td><%= link_to 'Edit', edit_entry_path(entry) %></td> |
            <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        <% end %>
      </div><!--/resource-box-->

    <br>
    <%= link_to 'New Entry', new_entry_path, class: 'btn btn-primary' %>