
      <div class="list">
        <% @entries.each do |entry| %>
        <div class="resource-box">
              <ul>
                <li class="name"><h3><%= link_to entry.title, entry %></h3></li>
                <li>Topic: 
                <% for topic in entry.topics %>

                  <strong class="topic">

                    <%= topic.name %> | </strong>
                  <% end %>
                </li>
                 <li>
                  Resource Type: <strong class="type"><%= entry.category && entry.category.name %></strong>
                </li>
                 <li class="level">
                  Course type: <%= entry.level %>
                </li>
                <br>
                <li>
                  <i class="material-icons">attach_file</i>
                   <%= link_to entry.attachment.file.filename, entry.attachment_url if entry.attachment? %>
                </li>
              </ul>
              <td><%= link_to 'View Resource', entry %></td> <% if current_user.try(:admin) or current_user == entry.user %> | 
          
            <td><%= link_to 'Edit', edit_entry_path(entry) %></td> |
            <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
              <p class="contributor">Contributed by: <%= entry.user.email %>
          </div><!--/resource-box-->
        <% end %>
      </div><!--/list-->

    <br>
<script type ="text/javascript">

        document.getElementById("running-total").innerHTML =$('.resource-box').length

</script>
<script type = "text/javascript">
var userList = new List('all-resources', { 
  valueNames: ['name', 'topic', 'type', 'level'],
   page: 10,
  pagination: true,
  size: true

});
</script>
