
    <h1>Tech Comm Resources</h1>
      <div class="list">

        <% @entries.each do |entry| %>
        <div class="resource-box">
              <ul>
                <li class="name"><h2><%= entry.title %></h2></li>
                <li class="topic">
                  Topic: <%= entry.topic && entry.topic.name %>
                </li>
                 <li class="type">
                  Resource Type: <%= link_to Category.find(entry.category_id).name, category_path(entry.category_id) %>
                </li>
                 <li class="level">
                  Student: <%= entry.level %>
                </li>
              </ul>
              <td><%= link_to 'Show', entry %></td> | 
            <td><%= link_to 'Edit', edit_entry_path(entry) %></td> |
            <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        <% end %>
      </div><!--/resource-box-->

    <br>
    <%= link_to 'New Entry', new_entry_path, class: 'btn btn-primary' %>