
<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="flex">
      <div class="circle-number">1</div>
      <div class="text"><h4>Give it a Memorable Name</h4>
        <%= form.text_field :title, id: :entry_title, class: 'form-control' %>
      </div>

    </div>

  </div>

  <div class="field">
    <div class="flex">
      <div class="circle-number">2</div>
      <div class="text">
        <h4>Briefly describe the resource</h4>
         <%= form.text_area :description, :class => "tinymce form-control", :rows => 10 %>
      <%= tinymce %>
      </div><!--/text-->
  </div><!--/flex-->
  </div>
  <div class="flex">
  <div class="circle-number">3</div>
  <div class="text">
  <h4>What Course is it for?</h4>
      <%= hidden_field_tag "entry[course_ids][]", nil %>
        <% Course.order('name ASC').each do |course| %>
          <%= check_box_tag "entry[course_ids][]", course.id, @entry.course_ids.include?(course.id), id: dom_id(course) %>
          <%= label_tag dom_id(course), course.name %> 
          <br />

        <% end %>
  </div>

</div><!--/flex-->
<div class="flex">
  <div class="circle-number">4</div>
  <div class="text">
  <h4>What's it about?</h4>
      <%= hidden_field_tag "entry[topic_ids][]", nil %>
        <% Topic.order('name ASC').each do |topic| %>
          <%= check_box_tag "entry[topic_ids][]", topic.id, @entry.topic_ids.include?(topic.id), id: dom_id(topic) %>
          <%= label_tag dom_id(topic), topic.name %> 
          <br />

        <% end %>
  </div>

</div><!--/flex-->
<div class="flex">
  <div class="circle-number">5</div>

    <div class="text">
          <h4>What kind of resource is it?</h4>
      <%= hidden_field_tag "entry[category_ids][]", nil %>
        <% Category.order('name ASC').each do |category| %>
          <%= check_box_tag "entry[category_ids][]", category.id, @entry.category_ids.include?(category.id), id: dom_id(category) %>
          <%= label_tag dom_id(category), category.name %> 
          <br />

        <% end %>
    </div>
</div>


  <div class="field">
    <div class="flex">
    <div class="circle-number">6</div>

      <div class="text">
        <h4>Attach or Link a Resource</h4>
        <% if @entry.attachment? %>
        <strong><%= form.label :remove_attachment, "Remove Attached File?" %></strong><br>
        <label>
        <%= form.check_box :remove_attachment %>

          <%= @entry.attachment.file.filename %>
        </label> or 
  <%= form.file_field :attachment, class: 'form-control' %><br> <br><br>
        <%= form.text_field :url_link, placeholder: "Paste URL", class: "form-control" %>
        <% else %>
        <%= form.file_field :attachment, class: 'form-control' %><br> <h5>OR</h5><br>
        <%= form.label :url_link, "Link to Resource" %>
        <%= form.text_field :url_link, placeholder: "Paste URL", class: "form-control" %>

      </div>

    <% end %>
  </div><!--/flex-->
</div>


  <div class="actions entry-button">
    <br>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
