
<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="flex">
      <div class="circle-number">1</div>
      <div class="text"><h4>What is this resource?</h4>
        <%= form.text_field :title, id: :entry_title, class: 'form-control' %>
      </div>

    </div>

  </div>

  <div class="field">
    <div class="flex">
      <div class="circle-number">2</div>
      <div class="text">
        <h4>Briefly describe the resource</h4>
        <%= form.text_area :description, class: 'form-control' %>
      </div><!--/text-->
  </div><!--/flex-->
  </div>
<div class="flex">
  <div class="circle-number">3</div>
  <div class="text">
  <h4>What's it about?</h4>
      <%= hidden_field_tag "entry[topic_ids][]", nil %>
        <% Topic.all.each do |topic| %>
          <%= check_box_tag "entry[topic_ids][]", topic.id, @entry.topic_ids.include?(topic.id), id: dom_id(topic) %>
          <%= label_tag dom_id(topic), topic.name %> 
          <br />

        <% end %>
  </div>

</div><!--/flex-->
<div class="flex">
  <div class="circle-number">4</div>

    <div class="text">
          <h4>What kind of resource is it?</h4>
      <%= form.collection_select :category_id, Category.order('name ASC'), :id, :name, :include_blank => 'Select an option', class: 'form-control' %>
    </div>
</div>
  <div class="field">
    <div class="flex">
      <div class="circle-number">5</div>
      <div class="text">
        <h4>Who's it for?</h4>
       <%= form.select(:level, [ "Undergraduate", "Graduate", "All Students"], id: "entry", :include_blank => 'Select an option') %>
 </div><!--/text-->
  </div>
</div><!--/flex-->

  <div class="field">
    <div class="flex">
    <div class="circle-number">6</div>

      <div class="text">
        <% if @entry.attachment? %>
        <%= form.check_box :remove_attachment %>

          <%= @entry.attachment.file.filename %>
        <% else %>
        <h4>Attach the Resource</h4>
        <%= form.file_field :attachment %>
      </div>

    <% end %>
  </div><!--/flex-->
</div>


  <div class="actions entry-button">
    <br>
    <%= form.submit "Create Resource", class: 'btn btn-primary' %>
  </div>
<% end %>
