<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <h2><%= form.label :title, "What is this resource?" %></h2>
    <%= form.text_field :title, id: :entry_title, class: 'form-control' %>
  </div>

  <div class="field">
    <h2>Briefly describe the resource</h2>
    <%= form.text_area :description, class: 'form-control' %>

  </div>

  <h2>What's it about?</h2>
<%= form.collection_select :topic_id, @topics, :id, :name, :prompt => true %>

 <h2>What kind of resource is it?</h2>
  <%= form.label :category_id %>
  <%= form.collection_select :category_id, Category.all, :id, :name %>


  <div class="field">
    <h2><%= form.label :level, "Who's it for?" %></h2>
   <%= form.select(:level, [ "Undergraduate", "Graduate", "All Students"], id: "entry", :include_blank => 'Please select') %>
  </div>

  <div class="form-field">
    <% if @entry.attachment? %>
    <%= form.check_box :remove_attachment %>

      <%= @entry.attachment.file.filename %>
    <% else %>
    <h3>Attach the Resource</h3>
    <%= form.file_field :attachment %>

    <% end %>
  </div>


  <div class="actions">
    <br>
    <%= form.submit "Create Resource", class: 'btn btn-primary' %>
  </div>
<% end %>
