<div class="container-fluid">
<p id="notice"><%= notice %></p>
<div id="all-resources">
<div class="row">
    <div class="col-md-4">
       <input type="text" class="fuzzy-search form-control" placeholder="Search Resources" /><br>
      <div class="type-filter">
      <h3>Filter by Resource Topic</h3>
      <%= form_tag entries_path, method: 'get', class: "entries_search" do%>

        <% @topics.each do |topic| %>
        <label><%= check_box_tag "by_topic[]", topic.id %><%= topic.name %></label><br>
              <% end %>
        <% end %>

      </div><!--/type-filter-->

      <div class="type-filter">
      <h3>Filter by Resource Type</h3>
      <%= form_tag entries_path, method: 'get', class: "entries_search" do%>

        <% @categories.each do |category| %>
        <label><%= check_box_tag "by_category[]", category.id %><%= category.name %></label><br>
              <% end %>

              <% end %>

      </div><!--/type-filter-->

      <div class="type-filter">
      <h3>Filter by Course Type</h3>
      <%= form_tag entries_path, method: 'get', class: "entries_search" do%>

        <label>
          <%= check_box_tag "by_level[]", "Graduate" %>Graduate

          </label> <br>
        <label><%= check_box_tag "by_level[]", "Undergraduate" %>Undergraduate
        </label><br>
        <label><%= check_box_tag "by_level[]", "All Students" %>All Students
        </label>

        <br>

              <% end %>

      </div><!--/type-filter-->
      <br>
      <%= link_to "Clear Filters", entries_path, class: 'btn btn-primary' %>
    </div><!--/col-md-4-->
    
    <div class="col-md-8">
<div id="entries"><%= render 'entries' %></div>
    </div>
  </div><!--/row-->
</div><!--/container-->
</div><!--/test-list-->
<script type = "text/javascript">
$(function () {
  $('input[type=checkbox]').change(function(){
  $.get($('.entries_search').attr('action'),
  $('.entries_search').serialize(), null, 'script');
  return false;

});

  $('.entries_search').submit(function () {
    $.get(this.action, $(this).serialize(), null, 'script');
    return false;
  });
});
</script> 
<script type = "text/javascript">
var userList = new List('all-resources', { 
  valueNames: ['name', 'topic', 'type', 'level']

});
</script>