<div class="container-fluid">
<p id="notice"><%= notice %></p>
<div id="all-resources">
<div class="row">
    <div class="col-md-4">
<%= form_tag(entries_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil, class: 'btn btn-primary' %>
<% end %> 
       <%= render 'filters' %>
    </div><!--/col-md-4-->
    
    <div class="col-md-8">
          <h1>Tech Comm Resources</h1>
          <%= link_to "TECM 1700", entries_path(:by_courses => 1) %>
 Page: <ul class="pagination"></ul> <p class="counter"></p>

         <div class="running"># of Entries matching criteria ( <p id="running-total"></p> )</div>
       
          <div id="entries"><%= render 'entries' %>
</div>
     
    </div>
  </div><!--/row-->
</div><!--/container-->
</div><!--/test-list-->

<script type = "text/javascript">
$(function () {
  $('input[type=checkbox]').change(function(){
  $.get($('.entries_search').attr('action'),
  $('.entries_search').serialize(), null, 'script');
  return false;

});

  $('.entries_search').submit(function () {
    $.get(this.action, $(this).serialize(), null, 'script');
    return false;
  });
});
</script>

