<div class="container-fluid">
<p id="notice"><%= notice %></p>
<div id="all-resources">
<div class="row">
    <div class="col-md-4">
      <h2 style="text-transform: uppercase;">Refine Your Search</h2>
      <div class="search-bar">
<%= form_tag(entries_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search!', name: nil, class: 'btn btn-primary' %>
       <%= link_to entries_path do %>
        &nbsp;<i style="color: black !important; padding-top: 15px; margin-left:10px" class="fas fa-times-circle"></i>
       <% end %>
     </div><!--/search-bar-->
<% end %> 
       <%= render 'filters' %>
    </div><!--/col-md-4-->
    
    <div class="col-md-8">

      <% if params[:by_courses] %>
      <h1><%=link_to "TECM Resources", entries_path %> > <span style="color:#409155"><%= entries_name %></span></h1>

      <% elsif params[:by_topics] %>
       <h1><%=link_to "TECM Resources", entries_path %> > <span style="color:#409155"><%= entries_topic %></span></h1>
      <% else %>
        <h1>TECM Resources</h1>
      <% end %>

 <p class="counter"></p>

         <div class="running"># of Entries matching criteria ( <p id="running-total"></p> )</div>
       
          <div id="entries"><%= render 'entries' %>
</div>
    </div>
  </div><!--/row-->
</div><!--/container-->
</div><!--/test-list-->
<script>
$(function () {
  $('input[type=checkbox]').change(function(){
  $.get($('.entries_search').attr('action'),
  $('.entries_search').serialize(), null, 'script');
  return false;

});

  $('.entries_search').submit(function () {
    $.get(this.action, $(this).serialize(), null, 'script');
    return false;
  });
});
</script>

