<div class="container">
<p id="notice"><%= notice %></p>

  <h2>Resource Name</h2>
    <%= @entry.title %>
    <%= @entry.description %>

  <h2>Resource Topic</h2>
    <p><%= @entry.topic && @entry.topic.name %></p>
  <h2>Resource Type</h2>
    <%= @entry.category && @entry.category.name %>
  <h2>Who's it for?</h2>
    <%= @entry.level %>


  <h2>Attachments:</h2>
  <%= link_to @entry.attachment.file.filename, @entry.attachment_url if @entry.attachment? %>
</p>
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
</div>