<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @entry.entry_type %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @entry.genre %>
</p>

<p>
  <strong>Level:</strong>
  <%= @entry.level %>
</p>

<p>
  <strong>Course:</strong>
  <%= @entry.course %>
</p>

<p>
  <strong>Attachments:</strong>
  <%= link_to @entry.attachment.file.filename, @entry.attachment_url if @entry.attachment? %>
</p>
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
