<div class="container-fluid">
<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-md-8">
      <div class="main-content entry-description">
    <div class="top-section">
      <h2><%= @entry.title %></h2> <div class="links">
          <% if current_user == @entry.user or current_user.try(:admin) %>
            <%= link_to 'Edit', edit_entry_path(@entry) %>
          <% end %>
          <p class="contributor">Contributed by: <%= @entry.user.email %></p>
      </div>
    </div>
      <div class="border-bottom"></div>
    <div class="show-content">
      <div class="description">
        <h4>Resource Description</h4>
        <%= @entry.description.html_safe %>
      </div><!--/description-->
        <div class="details">
          <ul>
            <li><strong>Topic</strong>:<% for @topic in @entry.topics %><%= @topic.name %> | <% end %></li>
            <li><strong>Resource Type</strong>: <% for @category in @entry.categories %><%= @category.name %> | <% end %></li>
            <li><strong>Course Type</strong>: <%= @entry.level %></li>
        </ul>
      </div><!--/details-->
    </div><!--/show-content-->
      </div><!--/main-content-->
      </div><!--/col-md-8-->

  <div class="col-md-4">
      <div class="flex-column">
      <h2>Download Resource</h2>
      <div class="border-bottom"></div>

        <p style="width: 80%"><i class="material-icons">attach_file</i><%= link_to @entry.attachment.file.filename, @entry.attachment_url if @entry.attachment? %></p>
        <%= link_to '<< Back to all resources', entries_path, class:'back' %>
      </div>

    </div><!--/col-md-4-->
  </div><!--/row-->

</div>